<app-item-detail-master-layout [crumbs]="breadcrumbs" [shouldBeInSection]="false">
  <div class="px-5 lg:px-10 py-5 bg-white rounded shadow mb-5">
    <div class="flex mb-5 gap-3 lg:justify-end">
      @if (mode === ePageActions.Edit) {
        <button
          class="lg:flex-grow-0 flex-grow ant-btn btn !text-[14px] !h-9 min-w-24"
          nz-button
          nzType="primary"
          nzDanger
          (click)="cancel()"
        >
          {{ 'common.cancel' | translate }}
        </button>
      }
      @if (mode === ePageActions.View) {

        <!-- todo: un hide when integrate approval flow -->
        <!--@if (data?.contentStatus === eContentStatuses.New) {-->
        <!--  <button-->
        <!--    class="lg:flex-grow-0 flex-grow ant-btn btn !text-[14px] !h-9 min-w-24"-->
        <!--    nz-button-->
        <!--    nzType="primary"-->
        <!--    (click)="sendApproval()"-->
        <!--  >-->
        <!--    {{ 'common.send_for_review' | translate }}-->
        <!--  </button>-->
        <!--}-->

        @if (data?.contentStatus == eContentStatuses.AdminApproved || data?.contentStatus == eContentStatuses.AdminRejected) {
          <button
            class="lg:flex-grow-0 flex-grow ant-btn btn !bg-transparent !border-red !border !text-red !text-[14px] !h-9 min-w-24"
            nz-button
            nzType="default"
            nzDanger
            (click)="delete()"
          >
            {{ 'common.delete' | translate }}
          </button>
        }

        @if (data?.contentStatus == eContentStatuses.AdminArchived) {
          <button
            class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"
            nz-button
            nzType="default"
            (click)="restore()"
          >
            {{ 'common.restore' | translate }}
          </button>
        }

        @if (data?.contentStatus == eContentStatuses.AdminApproved) {
          <button
            class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"
            nz-button
            nzType="default"
            (click)="archive()"
          >
            {{ 'common.archive' | translate }}
          </button>
        }

        @if (data?.contentStatus !== eContentStatuses.AdminReviewing
        && data?.contentStatus != eContentStatuses.AdminApproved
        && data?.contentStatus != eContentStatuses.AdminArchived) {
          <button
            class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"
            nz-button
            nzType="default"
            (click)="edit()"
          >
            {{ 'common.edit' | translate }}
          </button>
        }
      }
      @if ([ePageActions.Edit, ePageActions.Create].includes(mode)) {
        <button
          class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"
          nz-button
          nzType="default"
          (click)="submit()"
        >
          {{ 'common.save' | translate }}
        </button>
      }
    </div>
    <form class="wrapper-right" nz-form [nzNoColon]="mode !== ePageActions.View" [formGroup]="form">
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzLabelWrap [nzSm]="4">
            {{ 'Logo' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="nameError">
            <app-input-file
              layout="custom"
              class="w-fit"
              [ngClass]="{ 'pb-4': mode === ePageActions.View }"
              [fileList]="avatars"
              [listenProgress]="true"
              (fileListChange)="fileUploaded($event)"
              (fileAdded)="fileAdded($event)"
              [multiple]="true"
              [accepts]="['.jpg', '.png', '.jpeg']"
              [limit]="1"
              [maxSize]="10 * 1024 * 1024"
              [disabled]="mode === ePageActions.View"
            >
              <div
                *ngIf="mode === ePageActions.Edit"
                class="drop-zone-template flex flex-col justify-center items-center gap-2 w-28 h-28 rounded border-1 border-main border-dashed bg-main-lighter text-main"
              >
                <app-icon name="image" size="32"></app-icon>
                <span>{{ 'common.add_image' | translate }}</span>
              </div>
              <div class="preview-template flex flex-wrap gap-4">
                <mc-media
                  *ngFor="let media of avatars"
                  class="flex w-28 h-28"
                  layout="square"
                  [media]="media"
                  [showInfo]="false"
                  (removeClicked)="removeAvatar(media)"
                  [disabled]="mode === ePageActions.View"
                ></mc-media>
              </div>
            </app-input-file>
            <div
              class="ant-form-item-explain-error mt-1"
              *ngIf="form.controls?.[eBankFormKeys.Icon]?.dirty && !form.controls?.[eBankFormKeys.Icon]?.value?.length"
            >
              {{ 'Logo' | translate }} {{ 'form.is_required_field' | translate }}
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzLabelWrap [nzSm]="4" [nzFor]="eBankFormKeys.Name">
            {{ 'Tên ngân hàng' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="nameError">
            <input
              class="w-full"
              nzSize="large"
              nz-input
              [formControlName]="eBankFormKeys.Name"
              [id]="eBankFormKeys.Name"
              [placeholder]="'common.input' | translate"
              [readonly]="mode === ePageActions.View"
              [nzBorderless]="mode === ePageActions.View"
            />
            <ng-template #nameError let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.please_input' | translate }} {{ 'common.name' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzLabelWrap [nzSm]="4" [nzFor]="eBankFormKeys.ShortName">
            {{ 'common.short_name' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="nameError">
            <input
              class="w-full"
              nzSize="large"
              nz-input
              [formControlName]="eBankFormKeys.ShortName"
              [id]="eBankFormKeys.ShortName"
              [placeholder]="'common.input' | translate"
              [readonly]="mode === ePageActions.View"
              [nzBorderless]="mode === ePageActions.View"
            />
            <ng-template #nameError let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.please_input' | translate }} {{ 'common.short_name' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzLabelWrap [nzSm]="4" [nzFor]="eBankFormKeys.Code">
            {{ 'Mã' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="nameError">
            <input
              class="w-full"
              nzSize="large"
              nz-input
              [formControlName]="eBankFormKeys.Code"
              [id]="eBankFormKeys.Code"
              [placeholder]="'common.input' | translate"
              [readonly]="mode === ePageActions.View"
              [nzBorderless]="mode === ePageActions.View"
            />
            <ng-template #nameError let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.please_input' | translate }} {{ 'common.description' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View" *ngIf="data?.bankID">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzLabelWrap [nzSm]="4">
            {{ 'common.status' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="nameError">
            <div [class.pl-3]="mode === ePageActions.View">
              <app-content-status-label [status]="data?.contentStatus"></app-content-status-label>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
    </form>
  </div>
</app-item-detail-master-layout>
