<app-account-master-layout heading="account_page.reset_password">
  <ng-container [ngSwitch]="screen">
    <ng-template ngSwitchCase="input-user-login">
      <p class="mb-8 text-center">{{ 'account_page.input_email_or_phone_number_to_receive_otp' | translate }}</p>
      <form [formGroup]="form" nz-form nzLayout="horizontal" (ngSubmit)="submit()">
        <nz-form-item class="auth-input mb-0 style-filled">
          <nz-form-control
            [nzErrorTip]="loginErrors" class="w-full"
            [nzValidateStatus]="form.controls['userLogin'] | ctrlValidateStatus"
          >
            <nz-input-group>
              <input
                formControlName="userLogin"
                mcAutocompleteOff
                mcRequired
                [placeholder]="'form.email' | translate"
                nz-input
                type="text"
              />
            </nz-input-group>
            <ng-template #loginErrors let-control>
              <ng-container *ngIf="control.hasError('required'); else invalidEmailOrPhone">
                {{ 'form.please_input' | translate }} {{ 'form.email' | translate | lowercase }}
              </ng-container>
              <ng-template #invalidEmailOrPhone>
                <ng-container *ngIf="control.hasError('phoneOrMailPattern')">
                  {{ 'form.email' | translate }} {{ 'form.invalid' | translate | lowercase }}
                </ng-container>
              </ng-template>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <div class="flex justify-center items-center">
          <button
            class="mt-6 ant-btn-warning px-6 py-3"
            nz-button
            nzSize="default"
            nzType="primary"
            type="submit"
          >
            {{ 'account_page.send_verify_code' | translate }}
          </button>
        </div>
      </form>
    </ng-template>
    <ng-template ngSwitchCase="input-otp">
      <form [formGroup]="formOtp" (ngSubmit)="$event.preventDefault(); verifyOtp()">
        <p class="text-16px text-center mb-8">
          {{ 'common.input_otp_sent_to_email_n' | translate: { value: userLogin } }}
        </p>
        <app-input-otp
          formControlName="otp"
          [length]="4"
          [countdownFrom]="countdownFrom"
          (isTimeout)="isTimeout = $event"
          (resend)="onResend()"
          [triggerSubject]="resendSubject"
        ></app-input-otp>
        <div class="flex justify-center items-center">
          <button
            class="mt-8 ant-btn-warning px-6 py-3"
            nz-button
            nzSize="default"
            nzType="primary"
            type="submit"
            [disabled]="formOtp.invalid || isTimeout"
          >
            {{ 'common.continue' | translate }}
          </button>
        </div>
      </form>
    </ng-template>
    <ng-template ngSwitchCase="input-password">
      <form [formGroup]="formPassword" nz-form nzLayout="horizontal" (ngSubmit)="createPassword()">
        <p class="mb-8 text-center">{{ 'account_page.input_email_or_phone_number_to_receive_otp' | translate }}</p>
        <nz-form-item class="mb-8 style-filled">
          <nz-form-control class="w-full auth-input" [nzErrorTip]="pwdErrors">
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input
                mcAutocompleteOff
                formControlName="password"
                nz-input
                mcRequired
                [placeholder]="'form.password' | translate"
                [type]="passwordVisible ? 'text' : 'password'"
              />
              <ng-template #suffixTemplate>
                <app-icon
                  classes="cursor-pointer"
                  size="20x20"
                  color="text-grey"
                  [name]="passwordVisible ? 'eye-solid-slash' : 'eye-solid'"
                  (click)="passwordVisible = !passwordVisible"
                ></app-icon>
              </ng-template>
              <ng-template #pwdErrors let-control>
                <ng-container *ngIf="control.hasError('required'); else passwordPattern">
                  {{ 'form.please_input' | translate }} {{ 'form.password' | translate | lowercase }}
                </ng-container>
                <ng-template #passwordPattern>
                  <ng-container *ngIf="control.hasError('passwordPattern')">
                    {{ 'form.password' | translate }} {{ 'form.must_be_password_pattern' | translate | lowercase }}
                  </ng-container>
                </ng-template>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-8 auth-input style-filled">
          <nz-form-control class="w-full" [nzErrorTip]="pwdConfirmErrors">
            <nz-input-group [nzSuffix]="pwdConfirmSuffixTemplate">
              <input
                mcAutocompleteOff
                formControlName="passwordConfirm"
                nz-input
                mcRequired
                [placeholder]="'form.password_confirm' | translate"
                [type]="passwordConfirmVisible ? 'text' : 'password'"
              />
              <ng-template #pwdConfirmSuffixTemplate>
                <app-icon
                  classes="cursor-pointer"
                  size="20x20"
                  color="text-grey"
                  [name]="passwordConfirmVisible ? 'eye-solid-slash' : 'eye-solid'"
                  (click)="passwordConfirmVisible = !passwordConfirmVisible"
                ></app-icon>
              </ng-template>
              <ng-template #pwdConfirmErrors let-control>
                <ng-container *ngIf="control.hasError('required'); else pwdNotMatch">
                  {{ 'form.please_confirm_your_password' | translate }}
                </ng-container>
                <ng-template #pwdNotMatch>
                  <ng-container *ngIf="control.hasError('pwdNotMatch')">
                    {{ 'form.password_not_match' | translate }}
                  </ng-container>
                </ng-template>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div class="flex justify-center items-center">
          <button class="mt-2 ant-btn-warning px-6 py-3" nz-button nzSize="default" nzType="primary" type="submit">
            {{ 'common.update' | translate }}
          </button>
        </div>
      </form>
    </ng-template>
  </ng-container>
</app-account-master-layout>
