<app-account-master-layout heading="account_page.reset_password">
  <form nz-form nzLayout="horizontal" [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item class="mb-3">
      <nz-form-control class="w-full" [nzErrorTip]="passwordErrorTpl" nzHasFeedback>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            nz-input
            mcAutocompleteOff
            mcRequired
            formControlName="password"
            [placeholder]="'account_page.new_password' | translate"
            [type]="passwordVisible ? 'text' : 'password'"
          />
          <ng-template #suffixTemplate>
            <app-icon
              classes="cursor-pointer"
              size="20x20"
              color="text-grey"
              [name]="passwordVisible ? 'eye-slash' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></app-icon>
          </ng-template>
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required'); else passwordPattern">
              {{ 'form.please_confirm_your_password' | translate }}
            </ng-container>
            <ng-template #passwordPattern>
              <ng-container *ngIf="control.hasError('passwordPattern')">
                {{ 'form.password' | translate }} {{ 'form.invalid' | translate | lowercase }}
              </ng-container>
            </ng-template>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-0">
      <nz-form-control class="w-full" [nzErrorTip]="passwordConfirmErrorTpl" nzHasFeedback>
        <nz-input-group [nzSuffix]="pwdConfirmSuffixTemplate">
          <input
            nz-input
            mcAutocompleteOff
            mcRequired
            formControlName="passwordConfirm"
            [placeholder]="'account_page.confirm_new_password' | translate"
            [type]="passwordConfirmVisible ? 'text' : 'password'"
          />
          <ng-template #pwdConfirmSuffixTemplate>
            <app-icon
              classes="cursor-pointer"
              size="20x20"
              color="text-grey"
              [name]="passwordConfirmVisible ? 'eye-slash' : 'eye'"
              (click)="passwordConfirmVisible = !passwordConfirmVisible"
            ></app-icon>
          </ng-template>
          <ng-template #passwordConfirmErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required'); else pwdNotMatch">
              {{ 'form.please_confirm_your_password' | translate }}
            </ng-container>
            <ng-template #pwdNotMatch>
              <ng-container *ngIf="control.hasError('pwdNotMatch')">
                {{ 'form.password_not_match' | translate }}
              </ng-container>
            </ng-template>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button class="mt-6 ant-btn-warning w-full" nz-button nzSize="default" nzType="primary" type="submit">
      {{ 'account_page.update' | translate }}
    </button>
    <div class="text-center mt-9">
      <button
        [routerLink]="['../', RouteUtils.AccountPage.ForgotPassword]"
        nz-button
        nzSize="default"
        nzType="link"
        type="button"
      >
        {{ 'common.back' | translate }}
      </button>
    </div>
  </form>
</app-account-master-layout>
