@if (data?.length! > 0) {
  <form class="text-14px py-6" (ngSubmit)="add()">
    @if (!(data?.[0]?.memberID === userID)) {
      <nz-form-item class="mt-3 mb-0">
        <textarea [(ngModel)]="content" [placeholder]="'form.input_content' | translate" rows="5" nz-input [ngModelOptions]="{ standalone: true }"></textarea>
      </nz-form-item>
      <section class="py-4 flex justify-between items-center">
        <p class="text-default-text">
          @if (pagination?.total) {
            <span>{{ pagination?.total }} phản hồi</span>
          }
        </p>
        <button
          nz-button
          nzType="primary"
          type="submit"
          nzSize="small"
          class="min-w-32"
          [nzLoading]="isLoading"
          [disabled]="isLoading || !content.trim()"
        >
          {{ 'common.send' | translate }}
        </button>
      </section>
    }
    @if (data?.length) {
      <section class="comment-list">
        @for (item of data; track item.commentID) {
          <div class="flex justify-start items-start gap-3 first:mt-0 mt-3">
            <app-avatar
              size="44"
              shape="circle"
              class="flex-shrink-0"
              [src]="item?.memberAvatar?.avatarLink!"
            ></app-avatar>
            <div>
              <h4 class="text-14px font-medium">{{ item?.memberName }}</h4>
              <p class="text-grey-light mt-1">{{ item?.createdDate | date: DATE_TIME_FORMAT }}</p>
              <p class="mt-2 whitespace-pre-line">
                {{ item?.content }}
              </p>
            </div>
          </div>
        }
        @if (pagination?.total! > data?.length!) {
          <div class="flex justify-center items-center mt-4">
            <button (click)="loadMore()" nz-button nzType="link" type="button">
              {{ 'common.view_more' | translate }}
            </button>
          </div>
        }
      </section>
    }
  </form>
}
