<app-item-detail-master-layout [crumbs]="breadcrumbs" [shouldBeInSection]="false">
  <div class="px-5 lg:px-10 py-5 bg-white rounded shadow mb-5">
    <div class="flex mb-5 gap-3 lg:justify-end">
      <button
        class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px]"
        nz-button
        nzType="default"
        *ngIf="data?.contentStatus === eContentStatuses.AdminPending"
        (click)="setStatus(eContentStatuses.AdminReviewing)"
      >
        {{ 'enums.content_statuses.admin_reviewing' | translate }}
      </button>

      <!--    Approving -->
      <button
        class="lg:flex-grow-0 flex-grow ant-btn btn !text-[14px] !h-9"
        nz-button
        nzType="primary"
        nzDanger
        *ngIf="data?.contentStatus === eContentStatuses.AdminReviewing"
        (click)="reject()"
      >
        {{ 'enums.content_statuses.admin_rejected' | translate }}
      </button>
      <!--  Approving / Rejected -->
      <button
        class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px]"
        nz-button
        nzType="default"
        *ngIf="
          data?.contentStatus === eContentStatuses.AdminReviewing ||
          data?.contentStatus === eContentStatuses.AdminRejected
        "
        (click)="approve()"
      >
        {{ 'enums.content_statuses.admin_approved' | translate }}
      </button>

      <!--    Approved -->
      <button
        class="lg:flex-grow-0 flex-grow ant-btn btn !text-[14px] !h-9"
        nz-button
        nzType="primary"
        *ngIf="data?.contentStatus === eContentStatuses.AdminApproved"
        (click)="hide()"
      >
        {{ 'enums.content_statuses.hidden' | translate }}
      </button>
      <button
        class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px]"
        nz-button
        nzType="default"
        *ngIf="data?.contentStatus === eContentStatuses.AdminApproved"
        (click)="archive()"
      >
        {{ 'enums.content_statuses.admin_archived' | translate }}
      </button>
    </div>

    <div
      class="-mx-4 mb-4 bg-[#FB822A33] rounded py-3 px-4 flex lg:flex-row flex-col lg:flex-nowrap gap-2 lg:gap-5 lg:items-center"
      *ngIf="data?.contentStatus === eContentStatuses.AdminRejected"
    >
      <div class="flex-shrink-0 w-full max-w-[200px] text-grey">
        {{ 'Từ chối duyệt, lý do:' | translate }}
      </div>
      <p class="grow">
        {{ data?.statusData?.statusReason }}
      </p>
    </div>

    <article>
      <div class="image-cover">
        <img
          *ngIf="data?.cover?.coverLink"
          class="object-cover w-full h-full"
          nz-image
          [nzSrc]="data?.cover?.coverLink || ''"
          alt="profile-cover"
        />
      </div>
      <div class="relative h-16">
        <app-avatar
          class="absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2"
          [hasShadow]="true"
          [allowChange]="false"
          [src]="data?.avatar?.avatarLink || ''"
          shape="circle"
          size="128"
        ></app-avatar>
      </div>
    </article>
    <!--  <article class="mt-8 flex flex-col justify-center items-center gap-3">-->
    <!--    <h3>{{ data.name }}</h3>-->
    <!--    <div class="flex justify-center items-center gap-2">-->
    <!--      <span>{{ data.id }}</span>-->
    <!--    </div>-->
    <!--  </article>-->

    <!-- ACCOUNT INFO -->
    <article class="text-grey-dark mt-8">
      <h3 class="uppercase text-default-text">{{ 'account_page.company_info' | translate }}</h3>
      <div class="flex flex-col items-stretch gap-4 lg:gap-6 mt-4">
        <!--      <div>-->
        <!--        <span class="text-grey-light">{{ 'profile_page.account_type' | translate }}</span>-->
        <!--        :&nbsp;-->
        <!--        <span>{{ data.businessType | enumKey: 'business_types' | translate }}</span>-->
        <!--      </div>-->

        <!--   businessID   -->
        <app-read-only-form-row
          [text]="'account_page.company_code' | translate"
          [value]="data?.businessCode"
        ></app-read-only-form-row>

        <!--   name   -->
        <app-read-only-form-row
          [text]="'account_page.company_name' | translate"
          [value]="data?.businessName"
        ></app-read-only-form-row>

        <!--   Phone   -->
        <app-read-only-form-row
          [text]="'form.phone' | translate"
          [value]="(data?.phones)![0]?.phoneNo"
        ></app-read-only-form-row>

        <!--   Email   -->
        <app-read-only-form-row
          [text]="'form.email' | translate"
          [value]="(data?.emails)![0]?.emailAddress"
        ></app-read-only-form-row>

        <!--   Address   -->
        <app-read-only-form-row
          [text]="'profile_page.address' | translate"
          [value]="data?.address || ''"
        ></app-read-only-form-row>

        <!--   Website   -->
        <app-read-only-form-row
          [text]="'common.website' | translate"
          [value]="data?.website || ''"
        ></app-read-only-form-row>

        <!--   DUNs   -->
        <app-read-only-form-row [text]="'common.duns' | translate" [value]="data?.duns"></app-read-only-form-row>

        <!--   Postal code   -->
        <app-read-only-form-row
          [text]="'common.post_code' | translate"
          [value]="data?.postalCode"
        ></app-read-only-form-row>
      </div>
    </article>

    <!-- OWNER CONTACT INFO -->
    <article class="text-grey-dark mt-8">
      <div class="flex justify-between items-center">
        <h3 class="uppercase text-default-text">{{ 'account_page.representative' | translate }}</h3>
      </div>
      <div class="flex flex-col items-stretch gap-4 lg:gap-6 mt-4">
        <app-read-only-form-row
          [value]="data?.contactFullName"
          [text]="'account_page.representative_name' | translate"
        ></app-read-only-form-row>

        <app-read-only-form-row
          [value]="data?.contactEmail"
          [text]="'account_page.representative_email' | translate"
        ></app-read-only-form-row>

        <app-read-only-form-row
          [value]="data?.contactPhone"
          [text]="'account_page.representative_phone' | translate"
        ></app-read-only-form-row>
      </div>
    </article>

    <!-- UPLOADS -->
    <article class="text-grey-dark my-8">
      <div class="flex justify-between items-center mt-6">
        <h3 class="uppercase text-default-text">{{ 'account_page.upload_document' | translate }}</h3>
      </div>
      <div class="flex flex-col items-stretch gap-4 lg:gap-6 mt-4">
        <div class="flex flex-col gap-5">
          <div class="flex justify-between items-center">
            <h4 class="uppercase text-default-text">{{ 'account_page.business_license' | translate }}</h4>
          </div>

          <app-media-list [items]="data?.businessMedia || []"></app-media-list>

          <div class="flex justify-between items-center">
            <h4 class="uppercase text-default-text">{{ 'profile_page.certificate' | translate }}</h4>
          </div>
          <app-media-list [items]="data?.certificatesMedia || []"></app-media-list>
        </div>

        <app-read-only-form-row [text]="'requesting_profiles_page.request_review_date' | translate" [hasContent]="true">
          <span class="font-semibold">{{ dayjs(data?.createdDate).format('DD/MM/YYYY') }}</span>
        </app-read-only-form-row>

        <app-read-only-form-row [text]="'common.status' | translate" [hasContent]="true">
          <app-content-status-label [status]="data?.contentStatus"></app-content-status-label>
        </app-read-only-form-row>
      </div>
    </article>
  </div>
  <div
    *ngIf="
      data?.contentStatus !== eContentStatuses.AdminPending && data?.contentStatus !== eContentStatuses.AdminReviewing
    "
    class="px-10 py-5 bg-white shadow rounded"
  >
    <ul>
      <li class="flex flex-col gap-5">
        <div class="flex gap-5">
          <img src="https://placehold.co/64x64" alt="" class="w-[52px] h-[52px] object-cover rounded-full" />
          <div>
            <p class="font-semibold">Commenter</p>
            <p class="text-grey-neutral text-sm">23/2/2023 19:20</p>
            <p>Comment content</p>
          </div>
        </div>
        <ul class="pl-[56px] flex flex-col gap-5">
          <li class="flex flex-col gap-5">
            <div class="flex gap-5">
              <img src="https://placehold.co/64x64" alt="" class="w-[52px] h-[52px] object-cover rounded-full" />
              <div>
                <p class="font-semibold">Commenter</p>
                <p class="text-grey-neutral text-sm">23/2/2023 19:20</p>
                <p>Comment content</p>
              </div>
            </div>
          </li>
          <li class="flex flex-col gap-5">
            <div class="flex gap-5">
              <img src="https://placehold.co/64x64" alt="" class="w-[52px] h-[52px] object-cover rounded-full" />
              <div>
                <p class="font-semibold">Commenter</p>
                <p class="text-grey-neutral text-sm">23/2/2023 19:20</p>
                <p>Comment content</p>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</app-item-detail-master-layout>
