<app-item-list-master-layout
  heading="Danh mục"
  [menuItems]="menuItems"
  (searchInputChange)="onSearchKeywordChange($event)"
  menuStyle="multiple"
>
  <section class="flex flex-col items-stretch lg:px-5">
    <div class="flex-grow lg:block hidden">
      <div class="flex justify-end gap-4 mb-4">
        <button nz-button nzType="primary" nzShape="circle" [routerLink]="RouteUtils.SaleUnitsPage.Create">
          <span nz-icon nzType="plus"></span>
        </button>
      </div>
      <nz-table
        [nzData]="data" nzBordered class="mc-table" [nzShowPagination]="false"
        [nzScroll]="{ x: '1280px', y: 'calc(100dvh - var(--footer-height) - 358px)' }"
      >
        <thead>
        <tr>
          <th class="!text-center" nzWidth="100px">{{ 'Logo' | translate }}</th>
          <th nzWidth="300px">{{ 'Tên thương hiệu' | translate }}</th>
          <th>{{ 'Ngày cập nhật' | translate }}</th>
          <th>{{ 'Trạng thái' | translate }}</th>
          <th>{{ '' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of data">
          <tr>
            <td class="flex items-center justify-center">
              <img nz-image [nzSrc]="item.logo?.linkString || 'assets/images/img-default.png'"
                   nzFallback="assets/images/img-default.png"
                   nzPlaceholder="assets/images/img-default.png"
                   alt="" class="shrink-0 w-[52px] h-[52px] rounded object-contain">
            </td>
            <td>
              {{ item.brandName || 0 }}
            </td>
            <td class="text-center">
              <div class="text-center">{{ item.updatedDate | date: 'shortDate' }}</div>
            </td>
            <td class="text-center">
              <app-content-status-label [status]="item.contentStatus"></app-content-status-label>
            </td>
            <td>
              <div class="flex gap-3 justify-center">
                <button
                  class="ant-btn-link flex justify-center items-center"
                  nzType="link"
                  [routerLink]="item.brandID"

                >
                  Xem
                </button>
                <button
                  *ngIf="item.contentStatus !== eContentStatuses.AdminApproved"
                  class="ant-btn-link text-blue-500 hover:text-blue-600 flex justify-center items-center"
                  nzType="link"
                  [routerLink]="item.brandID"
                  [state]="{isEdit: true}"
                >
                  Sửa
                </button>
                <button
                  *ngIf="item.contentStatus !== eContentStatuses.AdminApproved"
                  class="ant-btn-link text-red-500 hover:text-red-600 flex justify-center items-center"
                  nzType="link"
                  (click)="delete(item)"
                >
                  Xóa
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </div>
    <div class="block lg:hidden">
      <div class="flex justify-between p-4 bg-white">
        <div class="flex gap-3 items-center">
          <button nzSize="small" nz-button nzType="primary" nzShape="circle">
            <span nz-icon nzType="plus"></span>
          </button>
        </div>
      </div>
      <ul class="flex flex-col gap-5 px-5 pt-5">
        <ng-container *ngFor="let item of data">
          <li>
            <a [routerLink]="item.brandID" class="card block p-4 bg-white hover:shadow transition rounded-lg">
              <div class="flex justify-start items-start gap-3">
                <app-avatar [hasShadow]="true" [allowChange]="false" [src]="item.logo?.linkString || ''" size="60"></app-avatar>
                <div class="flex flex-col justify-center gap-2 grow items-stretch">
                  <div class="flex flex-nowrap justify-between">
                    <span class="text-grey-default">{{ 'Tên đơn vị' | translate }}</span>
                    <span>{{ item.brandName  }}</span>
                  </div>
                  <div class="flex flex-nowrap justify-between">
                    <span class="text-grey-default">{{ 'Ngày cập nhật' | translate }}</span>
                    <span>{{ item.updatedDate | date: 'shortDate' }}</span>
                  </div>
                  <div class="flex flex-nowrap justify-between">
                    <span class="text-grey-default">{{ 'common.status' | translate }}</span>
                    <app-content-status-label [status]="item.contentStatus"></app-content-status-label>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <nz-pagination
      nzShowSizeChanger
      nzResponsive
      [nzPageSizeOptions]="[10, 20, 30, 40, 50]"
      [(nzPageSize)]="filterObject.pageSize"
      [(nzPageIndex)]="filterObject.pageIndex"
      [nzTotal]="filterObject.total"
      (nzPageSizeChange)="onPageSizeChange()"
      (nzPageIndexChange)="onPageIndexChange($event)"
    ></nz-pagination>
  </section>
</app-item-list-master-layout>
