<app-item-detail-master-layout [crumbs]="breadcrumbs" [shouldBeInSection]="false">
  <div class="px-5 lg:px-10 py-5 bg-white rounded shadow mb-5">
    <div class="mb-5 flex items-center justify-between gap-4 lg:flex-row flex-col">
      <div *ngIf="mode !== ePageActions.Create" class="flex items-center gap-3 text-sm">
        <app-content-status-label-tag [status]="data?.contentStatus"></app-content-status-label-tag>
        <span>
          Ngày cập nhật
          <span class="font-semibold">{{ data?.updatedDate | date: 'shortDate' }}</span>
        </span>
      </div>
      <div class="max-desktop:w-full grow flex gap-3 lg:justify-end lg:order-last">
        @if (mode !== ePageActions.View) {
          <button class="lg:flex-grow-0 flex-grow ant-btn btn !text-[14px] !h-9 min-w-24" nz-button (click)="cancel()">
            {{ 'common.cancel' | translate }}
          </button>
        }
        @if (mode === ePageActions.View) {
          <!-- todo: un hide when integrate approval flow -->
          <!--@if (data?.contentStatus === eContentStatuses.New) {-->
          <!--  <button-->
          <!--    class="lg:flex-grow-0 flex-grow ant-btn btn !text-[14px] !h-9 min-w-24"-->
          <!--    nz-button-->
          <!--    nzType="primary"-->
          <!--    (click)="sendApproval()"-->
          <!--  >-->
          <!--    {{ 'common.send_for_review' | translate }}-->
          <!--  </button>-->
          <!--}-->

          @if (
            data?.contentStatus === eContentStatuses.AdminReviewing ||
            data?.contentStatus === eContentStatuses.AdminRejected ||
            data?.contentStatus === eContentStatuses.AdminPending
          ) {
            <button
              class="lg:flex-grow-0 flex-grow ant-btn btn !bg-transparent !border-red !border !text-red !text-[14px] !h-9 min-w-24"
              nz-button
              nzType="default"
              nzDanger
              (click)="delete()"
            >
              {{ 'common.delete' | translate }}
            </button>
          }

          @if (data?.contentStatus === eContentStatuses.AdminArchived) {
            <button
              class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"
              nz-button
              nzType="default"
              (click)="restore()"
            >
              {{ 'common.restore' | translate }}
            </button>
          }

          <!--          @if (data?.contentStatus === eContentStatuses.AdminApproved) {-->
          <!--            <button-->
          <!--              class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"-->
          <!--              nz-button-->
          <!--              nzType="default"-->
          <!--              (click)="archive()"-->
          <!--            >-->
          <!--              {{ 'common.archive' | translate }}-->
          <!--            </button>-->
          <!--          }-->

          @if (
            data?.contentStatus !== eContentStatuses.AdminReviewing &&
            data?.contentStatus !== eContentStatuses.AdminApproved &&
            data?.contentStatus !== eContentStatuses.AdminArchived
          ) {
            <button
              class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"
              nz-button
              nzType="default"
              (click)="edit()"
            >
              {{ 'common.edit' | translate }}
            </button>
          }
        }
        @if ([ePageActions.Edit, ePageActions.Create].includes(mode)) {
          <button
            class="lg:flex-grow-0 flex-grow ant-btn-primary !border !h-9 btn !text-[14px] min-w-24"
            nz-button
            nzType="default"
            (click)="submit()"
          >
            {{ 'common.save' | translate }}
          </button>
        }
      </div>
    </div>
    <form [formGroup]="form" [nzNoColon]="mode !== ePageActions.View" nz-form nzLayout="vertical">
      <div [nzGutter]="[16, 0]" nz-row>
        <div [nzSpan]="24" nz-col>
          <nz-form-item>
            <nz-form-label nzLabelAlign="left" nzXs="24">
              {{ 'Logo' | translate }}
            </nz-form-label>
            <div class="col-right flex items-start gap-x-4 justify-start flex-wrap">
              <div
                *ngIf="mode !== ePageActions.View && !(this.avatars.length === 1)"
                class="w-[100px] h-[100px] flex-shrink-0"
              >
                <app-upload-file
                  [enableCrop]="false"
                  [formControl]="logoControl"
                  [isDisabled]="mode === ePageActions.View"
                  [limit]="1"
                  [minImageWidth]="0"
                  [ratio]="1"
                  accept="image/*"
                >
                  <div
                    class="h-full border-1 border-dashed border-main bg-main-lighter text-main rounded flex flex-col justify-center items-center gap-2 disabled:opacity-50 disabled:cursor-not-allowed"
                  >
                    <app-icon name="picture" size="24"></app-icon>
                    <div>{{ 'common.add_image' | translate }}</div>
                  </div>
                </app-upload-file>
              </div>
              <div class="grow flex justify-start items-center gap-4 flex-wrap">
                @if (data?.logo || (avatars?.length || 0) > 0) {
                  @for (item of avatars; track item.uid) {
                    <div
                      class="rounded border-1 border-main-lighter/80 bg-background overflow-hidden relative w-[100px] h-[100px]"
                    >
                      <app-media-item
                        [file]="item"
                        [disabled]="mode === ePageActions.View"
                        (successEvent)="fileUploaded([$event])"
                        (removeEvent)="removeAvatar($event)"
                        imageClasses="!object-cover"
                      ></app-media-item>
                    </div>
                  }
                } @else if (mode === ePageActions.View) {
                  <div
                    class="w-auto h-[100px] rounded border-1 border-main-lighter/80 bg-background overflow-hidden relative"
                  >
                    <img src="assets/images/img-default.png" alt="" class="object-cover w-full h-full" />
                  </div>
                }
              </div>
              @if (mode !== ePageActions.View) {
                <div class="text-13px text-grey-light w-full mt-2">
                  {{
                    'Kéo thả hoặc click nút thêm ảnh. Định dạng ảnh JPEG hoặc PNG. Dung lượng < 2MB, tỉ lệ 1:1'
                      | translate
                  }}
                </div>
              }
            </div>
          </nz-form-item>
        </div>

        <div nz-col nzLg="12" nzXs="24">
          <nz-form-item>
            <nz-form-label [nzFor]="eBrandFormKey.Name" mcRequired nzLabelAlign="left" nzLabelWrap>
              {{ 'Tên thương hiệu' | translate }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="nameError">
              <nz-input-group [appReadonlySelect]="mode !== ePageActions.Create">
                <input
                  (blur)="capitalizeFirstLetter()"
                  [formControlName]="eBrandFormKey.Name"
                  [id]="eBrandFormKey.Name"
                  [placeholder]="'common.input' | translate"
                  [readonly]="mode === ePageActions.View"
                  class="w-full"
                  nz-input
                  nzSize="large"
                />
              </nz-input-group>
              <ng-template #nameError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  <p class="mb-3">{{ 'common.please_input' | translate }} {{ 'common.name' | translate }}</p>
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="12" nzXs="24">
          <nz-form-item>
            <nz-form-label [nzFor]="eBrandFormKey.Url" nzLabelAlign="left" nzLabelWrap>
              {{ 'URL' | translate }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="urlError">
              <nz-input-group [appReadonlySelect]="mode !== ePageActions.Create">
                <input
                  [formControlName]="eBrandFormKey.Url"
                  [id]="eBrandFormKey.Url"
                  [placeholder]="'common.input' | translate"
                  [readonly]="mode === ePageActions.View"
                  class="w-full"
                  nz-input
                  nzSize="large"
                />
              </nz-input-group>

              <ng-template #urlError let-control>
                <!-- <ng-container *ngIf="control.hasError('required')">
                  <p class="mb-3">
                  {{ 'common.please_input' | translate }} {{ 'Url' | translate }}
                  </p>
                </ng-container> -->
                <ng-container *ngIf="control.hasError('urlPattern')">
                  <p class="mb-3">
                    {{ 'form.invalid_url_format' | translate }}
                  </p>
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="12" nzXs="24">
          <nz-form-item>
            <nz-form-label [nzFor]="eBrandFormKey.Email" nzLabelAlign="left" nzLabelWrap>
              {{ 'common.email' | translate }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="emailError">
              <nz-input-group [appReadonlySelect]="mode !== ePageActions.Create">
                <input
                  [formControlName]="eBrandFormKey.Email"
                  [id]="eBrandFormKey.Email"
                  [placeholder]="'common.input' | translate"
                  [readonly]="mode === ePageActions.View"
                  class="w-full"
                  nz-input
                  nzSize="large"
                />
              </nz-input-group>
              <ng-template #emailError let-control>
                <!-- <ng-container *ngIf="control.hasError('required')">
                  <p class="mb-3">{{ 'common.please_input' | translate }} {{ 'common.email' | translate }}</p>
                </ng-container> -->
                <ng-container *ngIf="control.hasError('mailPattern')">
                  <p class="mb-3">{{ 'form.email' | translate }} {{ 'form.invalid' | translate | lowercase }}</p>
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="12" nzXs="24">
          <nz-form-item>
            <nz-form-label [nzFor]="eBrandFormKey.Phone" nzLabelAlign="left" nzLabelWrap>
              {{ 'common.phone' | translate }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="phoneError">
              <nz-input-group [appReadonlySelect]="mode !== ePageActions.Create">
                <input
                  [formControlName]="eBrandFormKey.Phone"
                  [id]="eBrandFormKey.Phone"
                  [placeholder]="'common.input' | translate"
                  [readonly]="mode === ePageActions.View"
                  class="w-full"
                  nz-input
                  nzSize="large"
                />
              </nz-input-group>
              <ng-template #phoneError let-control>
                <!-- <ng-container *ngIf="control.hasError('required')">
                  <p class="mb-3">
                    {{ 'common.please_input' | translate }} {{ 'common.phone' | translate }}
                  </p>
                </ng-container> -->
                <ng-container *ngIf="control.hasError('phonePatternInternational')">
                  <p class="mb-3">
                    {{ 'form.phone' | translate }} {{ 'form.invalid' | translate | lowercase }} ({{
                      'form.phone_invalid_international' | translate
                    }})
                  </p>
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="12" nzXs="24">
          <nz-form-item>
            <nz-form-label [nzFor]="eBrandFormKey.Address" nzLabelAlign="left" nzLabelWrap>
              {{ 'common.address' | translate }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="addressError">
              <nz-input-group [appReadonlySelect]="mode !== ePageActions.Create">
                <input
                  [formControlName]="eBrandFormKey.Address"
                  [id]="eBrandFormKey.Address"
                  [placeholder]="'common.input' | translate"
                  [readonly]="mode === ePageActions.View"
                  class="w-full"
                  nz-input
                  nzSize="large"
                />
              </nz-input-group>
              <ng-template #addressError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  <p class="mb-3">{{ 'common.please_input' | translate }} {{ 'common.address' | translate }}</p>
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="12" nzXs="24">
          <nz-form-item>
            <nz-form-label [nzFor]="eBrandFormKey.DunsNumber" nzLabelAlign="left" nzLabelWrap>
              {{ 'common.duns_code' | translate }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="dunsNumberError">
              <nz-input-group [appReadonlySelect]="mode !== ePageActions.Create">
                <input
                  [formControlName]="eBrandFormKey.DunsNumber"
                  [id]="eBrandFormKey.DunsNumber"
                  [placeholder]="'common.input' | translate"
                  [readonly]="mode === ePageActions.View"
                  class="w-full"
                  nz-input
                  nzSize="large"
                />
              </nz-input-group>
              <ng-template #dunsNumberError let-control>
                <!-- <ng-container *ngIf="control.hasError('required')">
                  <p class="mb-3">
                    {{ 'common.please_input' | translate }} {{ 'common.duns_code' | translate }}
                  </p>
                </ng-container> -->
                <ng-container *ngIf="control.hasError('dunsPattern')">
                  <p class="mb-3">
                    {{ 'form.invalid_duns_format' | translate }}
                  </p>
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
</app-item-detail-master-layout>
