<app-profile-master-layout>
  <div class="p-5">
    <h3 class="text-default-text mb-5">Tài khoản và mật khẩu</h3>
    <div class="grid lg:grid-cols-2 gap-5">
      <div>
        <div class="flex justify-between items-center gap-4 mb-2">
          <div class="group-title">{{ 'Tên tài khoản' | translate }}</div>
        </div>
        <nz-input-group class="!bg-white" [nzSuffix]="defaultSuffixTemplate">
          <input nz-input readonly [value]="data?.adminFullName || ''" />
        </nz-input-group>
      </div>
      <div>
        <div class="flex justify-between items-center gap-4 mb-2">
          <div class="group-title">{{ 'Mã nhân viên' | translate }}</div>
        </div>
        <nz-input-group class="!bg-white" [nzSuffix]="defaultSuffixTemplate">
          <input nz-input readonly [value]="data?.adminCode || ''" />
        </nz-input-group>
      </div>
      <div>
        <div class="flex justify-between items-center gap-4 mb-2">
          <div class="group-title">{{ 'ID đăng nhập' | translate }}</div>
        </div>
        <nz-input-group class="!bg-white">
          <input disabled nz-input [value]="data?.adminCode" />
        </nz-input-group>
      </div>
      <div>
        <div class="flex justify-between items-center gap-4 mb-2">
          <div class="group-title">{{ 'Mật khẩu' | translate }}</div>
        </div>
        <nz-input-group class="!bg-white" [nzSuffix]="passwordSuffixTemplate">
          <ng-template #passwordSuffixTemplate>
            <ng-container
              [ngTemplateOutlet]="suffixTemplate"
              [ngTemplateOutletContext]="{
                editFn: editPassword.bind(this)
              }"
            ></ng-container>
          </ng-template>
          <input type="password" nz-input readonly value="********" />
        </nz-input-group>
      </div>
      <div>
        <div class="flex items-center gap-4">
          <div class="group-title">{{ 'Trạng thái' | translate }}</div>
          <p class="text-center">
            <app-account-status-label [status]="data?.accountStatus"></app-account-status-label>
          </p>
        </div>
      </div>
    </div>

    <ng-template #defaultSuffixTemplate>
      <ng-container
        [ngTemplateOutlet]="suffixTemplate"
        [ngTemplateOutletContext]="{
          editFn: edit.bind(this)
        }"
      ></ng-container>
    </ng-template>
    <ng-template #suffixTemplate let-editFn="editFn">
      <button type="button" nz-button nzType="link" (click)="editFn?.()">
        <app-icon name="pencil-simple-line" size="20"></app-icon>
      </button>
    </ng-template>
  </div>
</app-profile-master-layout>
