<form [formGroup]="form" nz-form id="feedbackForm" (ngSubmit)="submit()">
  <div *nzModalTitle>
    {{ config.title | translate }}
  </div>
  <p class="mb-2 text-default-text">{{ config.message }}</p>
  <nz-form-item>
    <nz-form-label nzLabelAlign="left" [nzSm]="7" [nzXs]="24" [nzFor]="formKeys.oldPassword">
      {{ 'Nhập mật khẩu cũ (*)' | translate }}
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="oldPasswordError">
      <input type="password" nz-input [formControlName]="formKeys.oldPassword" [id]="formKeys.oldPassword" />
      <ng-template #oldPasswordError let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'common.please_input' | translate }} {{ 'Mật khẩu cũ' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzLabelAlign="left" [nzSm]="7" [nzXs]="24" [nzFor]="formKeys.newPassword">
      {{ 'Mật khẩu mới (*)' | translate }}
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="newPasswordError">
      <input type="password" nz-input [formControlName]="formKeys.newPassword" [id]="formKeys.newPassword" />
      <ng-template #newPasswordError let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'common.please_input' | translate }} {{ 'Mật khẩu mới' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzLabelAlign="left" [nzSm]="7" [nzXs]="24" [nzFor]="formKeys.confirmPassword">
      {{ 'Xác nhận mật khẩu mới (*)' | translate }}
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="confirmPasswordError">
      <input type="password" nz-input [formControlName]="formKeys.confirmPassword" [id]="formKeys.confirmPassword" />
      <ng-template #confirmPasswordError let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'common.please_input' | translate }} {{ 'Mật khẩu mới' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div *nzModalFooter>
    <div class="flex justify-stretch gap-5 max-w-[380px] mx-auto">
      <button class="grow" nz-button nzType="default" (click)="modalRef.close(undefined)">
        {{ 'Hủy' | translate }}
      </button>
      <button class="grow !ml-0" nz-button nzType="primary" form="feedbackForm">
        {{ 'Cập nhật' | translate }}
      </button>
    </div>
  </div>
</form>
