<app-item-list-master-layout
  [heading]="'requesting_profiles_page.title' | translate"
  [menuItems]="menuItems"
  (searchInputChange)="onSearchKeywordChange($event)"
>
  <section class="lg:px-5">
    <div>
      <div class="lg:block hidden">
        <nz-table
          nzBordered
          [nzData]="data"
          [nzLoading]="loading"
          [(nzPageSize)]="filterObject.pageSize"
          [(nzPageIndex)]="filterObject.pageIndex"
          [nzScroll]="{ x: '1280px', y: 'calc(100dvh - var(--footer-height) - 324px)' }"
          [nzShowPagination]="false"
          (nzQueryParams)="tableQueryParamsChange$.next($event)"
        >
          <thead>
          <tr>
            <th nzColumnKey="name">{{ 'requesting_profiles_page.name' | translate }}</th>
            <th nzColumnKey="approvalDate" [nzSortFn]="true">
              {{ 'requesting_profiles_page.request_review_date' | translate }}
            </th>
            <th nzColumnKey="type">{{ 'common.status' | translate }}</th>
            <th nzColumnKey="action">{{ 'common.actions' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data; index as i">
            <td>
              <div class="flex justify-start items-center gap-3">
                <app-avatar
                  [hasShadow]="true"
                  [allowChange]="false"
                  [src]="item.sellerAvatar?.avatarLink || ''"
                  shape="circle"
                  size="52"
                ></app-avatar>
                <div class="flex flex-col justify-center items-start gap-0.5">
                  <h5 class="font-semibold text-[14px] text-grey-dark line-clamp-1 break-all">
                    {{ item.businessName }}
                  </h5>
                  <p class="text-grey line-clamp-1">
                    {{ item.businessCode }}
                  </p>
                  <p class="text-grey line-clamp-1">
                    {{ item.address?.[0]?.addressString }}
                  </p>
                </div>
              </div>
            </td>
            <td class="text-center">{{ item.approvalDate | date: 'shortDate' }}</td>
            <td [ngSwitch]="item.contentStatus" class="text-center">
              <app-content-status-label [status]="item.contentStatus"></app-content-status-label>
            </td>
            <td>
              <div class="flex gap-3 justify-center">
                <button
                  (click)="reviewing(item.sellerProfileID)"
                  *ngIf="item.contentStatus === eContentStatuses.AdminPending"
                  class="!text-[14px] ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn"
                  nz-button
                  nzType="default"
                >
                  {{ 'enums.content_statuses.admin_reviewing' | translate }}
                </button>
                <button
                  class="ant-btn-link flex justify-center items-center"
                  nzType="link"
                  [routerLink]="item.sellerProfileID"
                >
                  Xem
                </button>
                <!--                <button class="flex justify-center items-center" nzType="link" [routerLink]="item.sellerProfileID">-->
                <!--                  <app-icon name="more" size="24x24" color="text-main"></app-icon>-->
                <!--                </button>-->
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
      <ul class="flex lg:hidden flex-col gap-5 p-5 pb-0">
        <ng-container *ngFor="let item of data">
          <li>
            <a [routerLink]="item.sellerProfileID" class="card block p-4 bg-white hover:shadow transition rounded-lg">
              <div class="flex justify-start items-center gap-3 mb-2">
                <app-avatar [hasShadow]="true" [allowChange]="false" [src]="''" shape="circle" size="52"></app-avatar>
                <div class="flex flex-col justify-center items-start gap-0.5">
                  <h5 class="font-semibold text-[14px] text-grey-dark line-clamp-2 break-all">
                    {{ item.businessName }}
                  </h5>
                  <p class="text-grey line-clamp-1">
                    {{ item.businessCode }}
                  </p>
                  <p class="text-grey line-clamp-1">
                    {{ item.address?.[0]?.addressString }}
                  </p>
                </div>
              </div>
              <div class="flex flex-nowrap justify-between mb-2">
                <span class="text-grey-default">{{ 'requesting_profiles_page.request_review_date' | translate }}</span>
                <span>{{ item.approvalDate | date: 'shortDate' }}</span>
              </div>
              <div class="flex flex-nowrap justify-between mb-2">
                <span class="text-grey-default">{{ 'common.status' | translate }}</span>
                <app-content-status-label [status]="item.contentStatus"></app-content-status-label>
              </div>
              <button
                (click)="reviewing(item.sellerProfileID)"
                *ngIf="item.contentStatus === eContentStatuses.AdminPending"
                class="!text-[14px] ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn w-full"
                nz-button
                nzType="default"
              >
                {{ 'enums.content_statuses.admin_reviewing' | translate }}
              </button>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <nz-pagination
      nzShowSizeChanger
      nzResponsive
      [nzPageSizeOptions]="[10, 20, 30, 40, 50]"
      [(nzPageSize)]="filterObject.pageSize"
      [(nzPageIndex)]="filterObject.pageIndex"
      [nzTotal]="filterObject.total"
      (nzPageSizeChange)="onPageSizeChange()"
      (nzPageIndexChange)="onPageIndexChange($event)"
    ></nz-pagination>
  </section>
</app-item-list-master-layout>
