<app-item-detail-master-layout [crumbs]="breadcrumbs" [shouldBeInSection]="false">
  <div class="px-5 lg:px-10 py-5 bg-white rounded shadow mb-5">
    <div class="flex mb-5 gap-3 lg:justify-end">
      <!--@if (data && [eContentStatuses.New, eContentStatuses.AdminRejected].includes(data.contentStatus)) {-->
      <!--@if (data) {-->
      <!--  <button-->
      <!--    class="lg:flex-grow-0 flex-grow ant-btn btn !bg-transparent !border-red !border !text-red !text-[14px] !h-9 min-w-24"-->
      <!--    nz-button-->
      <!--    nzType="default"-->
      <!--    nzDanger-->
      <!--    (click)="delete()"-->
      <!--  >-->
      <!--    {{ 'common.delete' | translate }}-->
      <!--  </button>-->
      <!--}-->
      @if (mode === ePageActions.Edit) {
        <button
          class="lg:flex-grow-0 flex-grow ant-btn btn !text-[14px] !h-9 min-w-24"
          nz-button
          nzType="primary"
          nzDanger
          (click)="cancel()"
        >
          {{ 'common.cancel' | translate }}
        </button>
      }
      @if (mode === ePageActions.View) {
        <!-- todo: un hide when integrate approval flow -->
        <!--@if (data?.contentStatus === eContentStatuses.New) {-->
        <!--  <button-->
        <!--    class="lg:flex-grow-0 flex-grow ant-btn btn !text-[14px] !h-9 min-w-24"-->
        <!--    nz-button-->
        <!--    nzType="primary"-->
        <!--    (click)="sendApproval()"-->
        <!--  >-->
        <!--    {{ 'common.send_for_review' | translate }}-->
        <!--  </button>-->
        <!--}-->

        @if (data?.contentStatus !== eContentStatuses.AdminReviewing) {
          <button
            class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"
            nz-button
            nzType="default"
            (click)="edit()"
          >
            {{ 'common.edit' | translate }}
          </button>
        }
      }
      @if ([ePageActions.Edit, ePageActions.Create].includes(mode)) {
        <button
          class="lg:flex-grow-0 flex-grow ant-btn !bg-main-lighter !border-main !border !h-9 !text-main btn !text-[14px] min-w-24"
          nz-button
          nzType="default"
          (click)="submit()"
        >
          {{ 'common.save' | translate }}
        </button>
      }
    </div>
    <form class="wrapper-right" nz-form [nzNoColon]="mode !== ePageActions.View" [formGroup]="form">
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" [nzSm]="4" [nzFor]="eSalesFeePolicyFormKeys.Title">
            {{ 'Tên chính sách' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="'auto'" [nzXs]="24" [nzErrorTip]="titleError">
            <input
              nz-input
              [formControlName]="eSalesFeePolicyFormKeys.Title"
              [id]="eSalesFeePolicyFormKeys.Title"
              [placeholder]="'common.input' | translate"
              [readonly]="mode === ePageActions.View"
              [nzBorderless]="mode === ePageActions.View"
            />
            <ng-template #titleError let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.please_input' | translate }} {{ 'Tên chính sách' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
        <nz-form-item>
          <nz-form-label nzNoColon nzLabelAlign="left" [nzSm]="4" [nzFor]="eSalesFeePolicyFormKeys.ProductType">
            {{ 'common.product_type' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="'auto'" [nzXs]="24" [nzErrorTip]="typeError">
            <nz-select
              [nzBorderless]="mode === ePageActions.View"
              [attr.aria-readonly]="mode === ePageActions.View"
              [nzPlaceHolder]="'common.select' | translate"
              [formControlName]="eSalesFeePolicyFormKeys.ProductType"
            >
              <ng-container *ngFor="let item of productTypeOptions">
                <nz-option
                  [nzValue]="item.value"
                  [nzLabel]="item.value | enumKey: 'product_types' | translate"
                ></nz-option>
              </ng-container>
            </nz-select>
            <ng-template #typeError let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.please_input' | translate }} {{ 'common.product_type' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <div [ngClass]="{ 'bg-main-lighter px-4 py-3 rounded my-2 -mx-4': mode === ePageActions.View }">
        <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
          <nz-form-item>
            <nz-form-label nzRequired nzLabelAlign="left" [nzSm]="4" [nzFor]="eSalesFeePolicyFormKeys.Version">
              {{ 'common.version' | translate }}
            </nz-form-label>
            <nz-form-control [nzSm]="'auto'" [nzXs]="24" [nzErrorTip]="versionError">
              <input
                nz-input
                [formControlName]="eSalesFeePolicyFormKeys.Version"
                [id]="eSalesFeePolicyFormKeys.Version"
                [placeholder]="'common.input' | translate"
                [readonly]="mode === ePageActions.View"
                [nzBorderless]="mode === ePageActions.View"
              />
              <ng-template #versionError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  {{ 'common.please_input' | translate }} {{ 'common.version' | translate }}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
          <nz-form-item>
            <nz-form-label
              nzRequired
              nzLabelAlign="left"
              nzLabelWrap
              [nzSm]="4"
              [nzFor]="eSalesFeePolicyFormKeys.Content"
            >
              {{ 'common.description' | translate }}
            </nz-form-label>
            <nz-form-control [nzSm]="'auto'" [nzXs]="24" [nzErrorTip]="descError">
              <input
                nz-input
                [formControlName]="eSalesFeePolicyFormKeys.Content"
                [id]="eSalesFeePolicyFormKeys.Version"
                [placeholder]="'common.input' | translate"
                [readonly]="mode === ePageActions.View"
                [nzBorderless]="mode === ePageActions.View"
              />
              <ng-template #descError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  {{ 'common.please_input' | translate }} {{ 'common.version' | translate }}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" [nzSm]="4" [nzFor]="eSalesFeePolicyFormKeys.SaleFee">
            {{ 'common.sales_fee' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="'auto'" [nzXs]="24" [nzErrorTip]="feeError">
            <nz-input-number
              class="w-full"
              nzSize="large"
              [formControlName]="eSalesFeePolicyFormKeys.SaleFee"
              [id]="eSalesFeePolicyFormKeys.SaleFee"
              [nzPlaceHolder]="'common.input' | translate"
              [nzMin]="0"
              [nzMax]="100"
              [nzFormatter]="percentFormatter"
              [nzReadOnly]="mode === ePageActions.View"
              [nzBorderless]="mode === ePageActions.View"
            ></nz-input-number>
            <ng-template #feeError let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.please_input' | translate }} {{ 'common.sales_fee' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View">
        <nz-form-item>
          <nz-form-label
            nzRequired
            nzLabelAlign="left"
            nzLabelWrap
            [nzSm]="4"
            [nzFor]="eSalesFeePolicyFormKeys.ApplyDate"
          >
            {{ 'common.applied_date' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="applyDateError">
            <nz-date-picker
              class="w-full"
              [nzFormat]="DATE_FORMAT"
              [formControlName]="eSalesFeePolicyFormKeys.ApplyDate"
              [nzPlaceHolder]="'common.select' | translate"
              [nzInputReadOnly]="true"
              [nzAllowClear]="false"
              [attr.aria-readonly]="mode === ePageActions.View"
              [nzBorderless]="mode === ePageActions.View"
              [nzSuffixIcon]="mode === ePageActions.View ? '' : 'calendar'"
            ></nz-date-picker>
            <ng-template #applyDateError let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'common.please_input' | translate }} {{ 'common.applied_date' | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <div class="row-content" [attr.aria-readonly]="mode === ePageActions.View" *ngIf="data?.saleFeePolicyID">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzLabelWrap [nzSm]="4">
            {{ 'common.status' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="">
            <div [class.pl-3]="mode === ePageActions.View">
              <app-content-status-label [status]="data?.contentStatus"></app-content-status-label>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</app-item-detail-master-layout>
